311NYC/SampleData/ComplaintTypes/ComplaintTypes.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.ComplaintTypes" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.ComplaintTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="feed" type="tns:feed" />
  <xs:complexType name="feed">
    <xs:sequence>
      <xs:element name="author" type="tns:author" />
      <xs:element name="entryCollection" type="tns:entryCollection" />
    </xs:sequence>
    <xs:attribute name="title" type="xs:string" />
    <xs:attribute name="updated" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="author">
    <xs:attribute name="name" type="xs:string" />
    <xs:attribute name="email" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="entryCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="entry" type="tns:entry" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="entry">
    <xs:sequence>
      <xs:element name="link" type="tns:link" />
    </xs:sequence>
    <xs:attribute name="title" type="xs:string" />
    <xs:attribute name="summary" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="link">
    <xs:attribute name="rel" type="xs:string" />
    <xs:attribute name="href" type="xs:string" />
  </xs:complexType>
</xs:schema>